# App
PORT=3000

# Retool
RETOOL_API_URL=https://retoolapi.dev/KpniQp/data
RETOOL_TIMEOUT_MS=3000
OUTBOX_INTERVAL_MS=30000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=reto_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSL=false